/*Incorporando uso de variables aprendidas en la clase 32*/
:root {
    --color-first-article: #B69C34;
    --color-second-article: #6FA344;
    --color-third-article: #0B346E;
}

/*Incorporando animaciones con @keyframes aprendidas en la clase 34*/
@keyframes lightingFirst {
    0% {
        box-shadow: 3px 3px 10px var(--color-first-article), -3px -3px 10px var(--color-first-article);
    }
    20% {
        box-shadow: 6px 6px 10px var(--color-first-article), -6px -6px 10px var(--color-first-article);
    }
    40% {
        box-shadow: 10px 10px 10px var(--color-first-article), -10px -10px 10px var(--color-first-article);
    }
    60% {
        box-shadow: 8px 8px 10px var(--color-first-article), -8px -8px 10px var(--color-first-article);
    }
    80% {
        box-shadow: 6px 6px 10px var(--color-first-article), -6px -6px 10px var(--color-first-article);
    }
    100% {
        box-shadow: 3px 3px 10px var(--color-first-article), -3px -3px 10px var(--color-first-article);
    }
}

@keyframes lightingSecond {
    0% {
        box-shadow: 3px 3px 10px var(--color-second-article), -3px -3px 10px var(--color-second-article);
    }
    20% {
        box-shadow: 6px 6px 10px var(--color-second-article), -6px -6px 10px var(--color-second-article);
    }
    40% {
        box-shadow: 10px 10px 10px var(--color-second-article), -10px -10px 10px var(--color-second-article);
    }
    60% {
        box-shadow: 8px 8px 10px var(--color-second-article), -8px -8px 10px var(--color-second-article);
    }
    80% {
        box-shadow: 6px 6px 10px var(--color-second-article), -6px -6px 10px var(--color-second-article);
    }
    100% {
        box-shadow: 3px 3px 10px var(--color-second-article), -3px -3px 10px var(--color-second-article);
    }
}

@keyframes lightingThird {
    0% {
        box-shadow: 3px 3px 10px var(--color-third-article), -3px -3px 10px var(--color-third-article);
    }
    20% {
        box-shadow: 6px 6px 10px var(--color-third-article), -6px -6px 10px var(--color-third-article);
    }
    40% {
        box-shadow: 10px 10px 10px var(--color-third-article), -10px -10px 10px var(--color-third-article);
    }
    60% {
        box-shadow: 8px 8px 10px var(--color-third-article), -8px -8px 10px var(--color-third-article);
    }
    80% {
        box-shadow: 6px 6px 10px var(--color-third-article), -6px -6px 10px var(--color-third-article);
    }
    100% {
        box-shadow: 3px 3px 10px var(--color-third-article), -3px -3px 10px var(--color-third-article);
    }
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

header.header {
    background-color: rgb(119, 207, 78);
}

figure.logo {
    display: flex;
    justify-content: center;
    margin: 0;
}

figure.logo img {
    width: 150px;
}

nav.menu {
    background-color: #73A345;
    padding: 10px 20px;
}

nav.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
    gap: 10px;
}

nav.menu a {
    color: white;
    font-size: 14px;
    padding: 10px 20px;
}

nav.menu li+li:before {
    content: " | ";
    color: white;
}

/*Mejora incorporada al pasar sobre la etiqueta a con el cursor*/
nav.menu a:hover {
    color: #2c3e1b;
}

section.logocabecera img {
    max-width: 100%;
    margin-bottom: 30px;
}

article.bookingoption {
    border: 3px solid black;
    padding: 20px;
    margin-bottom: 30px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

/*Incorporando animation*/
article.bookingoption:first-of-type {
    border-color: var(--color-first-article);
    background-color: #FDFCB7;
    /*La animación simula una luz en el fondo del contenedor del article*/
    animation: lightingFirst 2s linear 0s infinite;
}

article.bookingoption:first-of-type i {
    color: var(--color-first-article);
}

article.bookingoption:nth-of-type(2) {
    border-color: var(--color-second-article);
    background-color: #D3FFAC;
    animation: lightingSecond 2s linear 0s infinite;
}

article.bookingoption:nth-of-type(2) i {
    color: var(--color-second-article);
}

article.bookingoption:nth-of-type(3) {
    border-color: var(--color-third-article);
    background-color: #B8E3FF;
    animation: lightingThird 2s linear 0s infinite;
}

article.bookingoption:nth-of-type(3) i {
    color: var(--color-third-article);
}

article.bookingoption i {
    font-size: 40px;
    margin-bottom: 10px;
}

article.bookingoption h2 {
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
}

article.bookingoption p {
    font-size: 12px;
    margin-top: 0;
}

aside.review {
    border-top: 5px solid #555555;
    border-bottom: 5px solid #555555;
    background-color: #CCCCCC;
    padding: 30px;
    margin-bottom: 20px;
}

aside.review h2 {
    font-size: 14px;
    font-style: italic;
    text-transform: uppercase;
    font-weight: normal;
    color: #636363;
}

aside.review article {
    max-width: 500px;
    margin-bottom: 20px;
}

aside.review header {
    display: flex;
    align-items: end;
    gap: 10px;
}

aside.review i.fa-user-tie {
    font-size: 40px;
    margin-left: 5px;
}

aside.review i.fa-star {
    color: white;
}

aside.review p {
    color: #636363;
    font-size: 12px;
}

/*Mejora incorporada*/
/*Al posicionarnos sobre las estrellas se marcarán todas de negro*/
aside.review div:hover i {
    color: black;
}